{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Compliment{% endblock %}

{% block body_background %}{% endblock %}

{% block container %}
    <h1>Photo page</h1>
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <form action="{% url "core:photo" %}" method="post" id="" role="form" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        <label class="control-label" for="{{ field.auto_id }}">{% if field.field.required %}
                            <strong>{{ field.label|safe|capfirst }}&nbsp;*</strong>{% else %}
                            {{ field.label|safe|capfirst }}{% endif %}</label>
                        {% if forloop.first %}
                            {% render_field field autofocus="autofocus" class+="form-control" autocomplete="off" %}
                        {% else %}
                            {% render_field field class+="form-control" autocomplete="off" %}
                        {% endif %}
                        {% if field.help_text %}
                            <span class="help-block">{{ field.help_text|safe }}</span>
                        {% endif %}
                        {% if field.errors %}
                            <span class="help-block">{{ field.errors }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
                <button class="btn btn-danger pull-right" type="submit" id="">Get compliment</button>

            </form>
            {% if text %}
                <p>{{ text }}</p>
            {% endif %}
        </div>
        {% if image %}
            <div class="col-xs-12 col-lg-6">
                <img class="img-responsive" src="{{ image.preview.url }}" alt="{{ image.title }}">
            </div>
        {% endif %}
    </div>
{% endblock %}
