/* Colors
-------------------------------------------------- */
/* Main styles
-------------------------------------------------- */
body {
  padding-top: 70px;
  height: 100%;
  width: 100%;
}
h1 {
  color: #3a5795;
}
.body-background {
  background-image: url('../images/compliment.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
/* Nav styles
-------------------------------------------------- */
.navbar-default {
  background-color: #637bad;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-nav .open a:hover {
  color: #3a5795;
}
.navbar-default .navbar-nav li a {
  color: #fff;
}
.dropdown-menu {
  background-color: #637bad;
}
.jumbotron-custom {
  background-color: rgba(99, 123, 173, 0.3);
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
